* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Oswald', sans-serif;
  line-height: 1.66889;
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0; 
  background-color: #3f61753f;
  
}

header {
  height: 250px;
  padding: 20px 0 70px 0;
  background: #2d6360 50% 0 url(images/garden.jpg);
  text-align: center;
  margin-top: 20px;
  border-top: solid 10px rgba(19, 67, 71, 0.9);  
 position: static;
}
  

h1 {
  color:aliceblue;
  font-family: 'Montserrat',sans-serif;
  font-size: 60px;
  padding-top: 0;


}
header h2 {
  margin-top: 5px;

  font-style: italic;
  font-size: 30px;
}

.preamble {
  padding: 0px 10px 0px 10px;
  clear: right;
}
.preamble h3{
  margin-top: 20px;
}
.summary {
  clear: both;
  margin: 20px 20px 20px 10px;
  width: 160px;
  float: left;
    
}

.summary p {
  font-family: 'Oswald', sans-serif;
  font-size: 14px; 
  text-align: center;
  padding-top: 5px;
  margin-right: 2em;  
  background-color: rgba(127, 251, 255, 0.486);
  border: 1px solid rgb(3, 70, 3);
  box-shadow: 5px 5px #1c98e0;
  padding-bottom: 2em;
  
}

.participation {
  margin-left: 180px;
  text-align: justify;
}
p  {
  margin-top: 0;
  text-align: justify;
  font-weight: 'Oswald', sans-serif;
  font-size: 1em; 
  
}
.benefits  {
  margin-left: 180px;
  text-align: justify;

}

.requirements {
  margin-left: 180px;
  text-align: justify;
  box-shadow: 5px 5px #1c98e0;;
}
.explanation + h3 {
  font: 18px 'Oswald', sans-serif ;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #111111;
  font-weight: bolder;
  padding-top: 35px;
  margin-right: 2em;
  
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #418bfa;
}

.participation p{
  margin-left: 10px;
}

.supporting {
  padding-left: 10px;
  margin-bottom: 40px;
}

footer {
  text-align: center;
  margin-right: 20px;
}

.sidebar {
  margin-right: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 90px;
  margin-left: 14px;
}

.sidebar .wrapper {
  font-family:  'Oswald', sans-serif;
  font-size: 10px;
  background: transparent url(images/garden2.jpg) top left repeat-y;
  background-blend-mode:darken;  
  padding-top: -60px;
  width: 150px;
  position: absolute;
  display: flex;

}

.sidebar h3.select {  
  margin: 10px 0 5px 0;
  width: 97px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar h3.archives {  
  margin: 30px 0 5px 0;
  width: 60px;
  height: 15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar h3.resources {  
  margin: 25px 0 5px 0;
  width: 63px;
  height: 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  line-height: 1.3em;  
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.sidebar li a:link {
  color: #418bfa;
}

.extra1 {  
  position: absolute;
  top: 40px;
  right: 0;
  width: 148px;
  height: 110px;
}